RewriteEngine On
RewriteBase /vnlpq/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#กำหนดขนาดการอัพโหลดไฟล์
php_value memory_limit 128M
php_value upload_max_filesize 50M
php_value post_max_size 50M